       table {
        margin: 0 auto;
      }
      .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
      .tg .tg-amwm{font-weight:bold;vertical-align:top color:red;}
      .tg .tg-yw4l{vertical-align:top}
      .tg .tg-i81m{background-color:#ffffff;text-align:left;vertical-align:center ; font-weight: bold; padding-left: 10px}
      .tg .tg-3we0{background-color:#ffffff;vertical-align:top}

      .unsri { 
        float: left;
        position: fixed;
        width: 100px;
        margin-left: 30px;
      }
      .bem {
        float: right;
        width: 100px;
        margin-right: 30px;
      } 